body{
    background: rgb(184, 216, 222);
}
header{
    background-color: rgb(140, 208, 224);
    line-height: 500%;
    padding-top: 0;
}
nav{
    padding-bottom: 50px;
    text-align: center;

}
nav a{
    font-weight: bold;
    text-decoration: none;
    padding-left: 2em;
}
h1{
    color: rgb(19, 33, 230);
}
main{
    margin-left: auto;
    margin-right: auto;
}
#login{
}
#password{
}
footer{
    font-size: 75%;
    font-style: italic;
    text-align: center;
}